@import "../../../assets/sass/mixins";

.photo-modal {
  @include fullScreen;
  background-color: rgba(0, 0, 0, 0.9);

  .close {
    color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      color: rgba(255, 255, 255, 1);
    }
  }

  img {
    animation: fade-in 0.3s ease-in;
    max-width: 90%;
    max-height: 90%;
  }
}

@keyframes fade-in {
  from {
    transform: scale(10%);
    opacity: 0;
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}
