#messages-frame {
  max-height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  height: calc(100% - 3.75rem);

  .loading-more {
    position: relative;
    top: 0.4rem;
    font-size: 0.9rem;
  }
}
